<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Profile</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
	<!-- Nav Bar Start -->
	<header>
		<div>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Travel Buddies</a>

    <!-- Navbar toggler for mobile responsiveness -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/trips/home}">HOME</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/trips/new}">REGISTER A TRIP</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/selectTrip}">SELECT A TRIP</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/trips}">ALL TRIPS</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/user/profile}">PROFILE</a></li>
        </ul>
        <!-- Logout Link Styled Correctly -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" th:href="@{/logout}">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>

		</div>
	</header>
	<!-- Nav Bar End -->
<body>	
		<div class="container">
		
				<div align="center">
					<h3> ALL GLOBAL TRIP</h3>
				</div>

				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
						<th>Source State</th>
                        <th>Source City</th>
                        <th>Source Pincode</th>
                        <th>Available Seats</th>
                        <th>Departure Time</th>
                        <th>Destination State</th>
                        <th>Destination City</th>
                        <th>Destination Pincode</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "trips: ${allTrips}" >
				        <td th:text="${trips.sourceState}"></td>
                        <td th:text="${trips.sourceCity}"></td>
                        <td  th:text="${trips.sourcePincode}"></td>
                        <td th:text="${trips.availableSeats}"></td>
                        <td th:text="${trips.departureTime}"></td>
                        <td th:text="${trips.destinationState}"></td>
                        <td th:text="${trips.destinationCity}"></td>
                        <td th:text="${trips.destinationPincode}"></td>	
				</tr>
					</tbody>
				</table>
			</div>
</body>
</html>