<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #f0f1f2;">
	<!-- Form Body Start -->
	<div class="container p-2">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h3 class="text-center">Registration Form</h3>
						<div th:if="${session.message}" th:classappend=${session.message}
							class="alert alert-success" role="alert">
							<p th:text="${session.message}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<form th:action="@{/register}" th:object="${user}" method="post">
							<!-- 							<div class="form-group">
								<label for="exampleInputPassword1">Full Name</label> <input
									type="text" class="form-control" id="exampleInputPassword1"
									name="fullname" placeholder="Full Name" required>
							</div> -->
							                  
							<div class="p-2 w-1/2">
								<div class="relative">
									<label for="name" class="leading-7 text-sm text-gray-600">Full Name</label>
									<input type="text" id="name" name="fullname"
										class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
								</div>
							</div>

							<div class="form-group">
								<label for="exampleInputPassword1">Gender</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"
										id="inlineRadio1" value="male"><label
										class="from-check-label" for="inlineRadio1">Male</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="gender"
										id="inlineRadio2" value="female"><label
										class="from-check-label" for="inlineRadio2">Female</label>
								</div>
							</div>

							<!-- 							<div class="form-group">
								<label>DOB</label><input type="date" class="form-control"
									name="dob" required>
							</div> -->
							<div class="p-2 w-1/2">
								<div class="relative">
									<label for="name" class="leading-7 text-sm text-gray-600">DOB</label>
									<input type="text" id="dob" name="dob"
										class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
								</div>
							</div>

							<!-- 							<div class="form-group">
								<label>Address</label><input type="text" class="form-control"
									name="address" required>
							</div> -->
							<div class="p-2 w-1/2">
								<div class="relative">
									<label for="name" class="leading-7 text-sm text-gray-600">Address</label>
									<input type="text" id="address" name="address"
										class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
								</div>
							</div>

							<!-- 							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label> <input
									type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" placeholder="Enter email"
									name="email">

							</div> -->
							<div class="p-2 w-1/2">
								<div class="relative">
									<label for="name" class="leading-7 text-sm text-gray-600">Email Address</label>
									<input type="text" id="address" name="email"
										class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
								</div>
							</div>

							<!-- 							<div class="form-group">
								<label for="exampleInputPassword1">Password</label> <input
									type="password" class="form-control" id="exampleInputPassword1"
									placeholder="Password" name="password">
							</div> -->

							<div class="p-2 w-1/2">
								<div class="relative">
									<label for="name" class="leading-7 text-sm text-gray-600">Password</label>
									<input type="password" id="password" name="password"
										class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
								</div>
							</div>

							<!--  div class="form-check">
			<input type="checkbox" class="form-check-input" id="exampleCheck1">
			<label class="form-check-label" for="exampleCheck1">Check me
				out</label>
		</div-->
							<button type="submit" class="btn btn-primary">Submit</button>
							<div class="register">
								<p>
									Already have an account ? <a href="/login"
										class="mt-3 text-indigo-500 inline-flex items-center">  Login!!
										<svg fill="none" stroke="currentColor" stroke-linecap="round"
											stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2"
											viewBox="0 0 24 24">
								
								</p>
							</div>



						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
